.navbar-light {
    background-color: #e3f2fd !important;
}

.navbar-dark {
    background-color: #000000 !important;
}

.banner-dark {
    background-color: #183456;
}

.banner-light {
    background-color: #e3f2fd;
}

.border-light {
    border: 2px dashed #ffffff !important;
}

.border-dark {
    border: 2px dashed #000000 !important;
}

.bg-light {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #1d2938 !important;
}

.footer-light {
    background: #e3f2fd;
}

.footer-dark {
    background-color: black !important;
}

#layoutAuthentication {
    margin-top: 100px !important;
    margin-bottom: 80px !important;
}

.bottomspace {
    margin-bottom: 80px !important;
}